<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pradeepl.TMR" version="6.0.0" xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TMR</name>
    <description>
        ERP
    </description>
    <author email="pradeepshantha@gmail.com" href="#">
        Pradeep Liyanage
    </author>
    <content src="index.html" />
    <platform name="android" />
    <platform name="ios" />

    <access origin="*" />
    <access origin="cdvfile://*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <allow-navigation href="*" />
        <allow-navigation href="http://localhost:8080/*" />
        <allow-navigation href="httpsionic://*" />
        <allow-navigation href="http://124.43.160.52/*" />
        <allow-navigation href="http://cqrmjaela.usslk.com/*" />
        <allow-navigation href="https://cqrmjaela.usslk.com/*" />
    </platform>


    <preference name="android-targetSdkVersion" value="31" />
    <!--<edit-config
    file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application/activity">
   <application android:exported="true" />
</edit-config>-->

    <preference name="Fullscreen" value="true" />


     


    <plugin name="cordova-plugin-battery-status" source="npm" spec="~2.0.3" />
    <plugin name="cordova-plugin-camera" source="npm" spec="~6.0.0">
        <variable name="CAMERA_USAGE_DESCRIPTION"
            value="Allow access to the camera so that you can upload photos directly from the app" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION"
            value="Allow access to the photos so that you can upload photos directly from your library" />
    </plugin>
    <feature name="Camera">
        <param name="ios-package" value="CDVCamera" />
    </feature>

    <plugin name="cordova-plugin-ios-camera-permissions" source="npm" spec="~1.2.0">
        <variable name="CAMERA_USAGE_DESCRIPTION"
            value="Allow access to the camera so that you can upload photos directly from the app" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION"
            value="Allow access to the photos so that you can upload photos directly from your library" />
    </plugin>

    <plugin name="cordova-plugin-media-capture" source="npm" spec="~4.0.0">
        <variable name="CAMERA_USAGE_DESCRIPTION"
            value="Allow access to the camera so that you can upload photos directly from the app" />
        <variable name="MICROPHONE_USAGE_DESCRIPTION"
            value="App would like to access the microphone." />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION"
            value="Allow access to the photos so that you can upload photos directly from your library" />
    </plugin>
    <plugin name="cordova-plugin-console" source="npm" spec="~1.1.0" />
    <plugin name="cordova-plugin-contacts" source="npm" spec="~2.0.1" />
    <plugin name="cordova-plugin-device" source="npm" spec="~2.0.3" />
    <plugin name="cordova-plugin-device-motion" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-dialogs" source="npm" spec="~2.0.2" />
    <plugin name="cordova-plugin-file" source="npm" spec="~7.0.0" />
    <feature name="File">
        <param name="android-package" value="org.apache.cordova.FileUtils" />
    </feature>


    <!--Android
    specific 03-->
	<plugin name="cordova-plugin-pvt-file-transfer"  source="npm" spec="~2.0.0" />

    
	
<feature name="File">
		<param name="android-package" value="org.apache.cordova.FileUtils" />
	</feature>
	<feature name="FileTransfer">
		<param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
	</feature>
	
	<plugin name="cordova-plugin-advanced-http"  source="npm" spec="~3.3.1" />

   

	<!--android specific end-->

    <!--IOS
    specific 03
    <plugin name="cordova-plugin-file-transfer-ios-fix" source="npm" spec="~1.7.2" />
    end
    ios specific-->

    <plugin name="cordova-plugin-geolocation" source="npm" spec="~5.0.0" />
    <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
        <string>Turning on location services allow us to assign you correct task and to validate
            wherther you executed the task at the correct location </string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge"
        target="NSLocationAlwaysAndWhenInUseUsageDescription">
        <string>Turning on location services allow us to assign you correct task and to validate
            wherther you executed the task at the correct location</string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge" target="NSLocationAlwaysUsageDescription">
        <string>Turning on location services allow us to assign you correct task and to validate
            wherther you executed the task at the correct location</string>
    </edit-config>

    <plugin name="cordova-plugin-location-provider" source="npm" spec="~1.5.4" />

    <!--<plugin
    name="cordova-background-geolocation-plugin" source="npm" spec="~2.0.8" />-->

    <!-- <plugin name="cordova-plugin-background-geolocation"
    spec="@mauron85/cordova-plugin-background-geolocation@~3.1.0">
  <variable name="GOOGLE_PLAY_SERVICES_VERSION" value="11+" />
  <variable name="ANDROID_SUPPORT_LIBRARY_VERSION" value="26+" />
  <variable name="ICON" value="@mipmap/icon" />
  <variable name="SMALL_ICON" value="@mipmap/icon" />
  <variable name="ALWAYS_USAGE_DESCRIPTION" value="App requires background tracking " />
  <variable name="MOTION_USAGE_DESCRIPTION" value="App requires motion detection" /> 
  </plugin>-->

    <!-- Android specific 02 
  <plugin name="cordova-plugin-background-mode" source="npm" spec="~0.7.3" />
end Android specific 02 -->


    <plugin name="cordova-plugin-globalization" source="npm" spec="~1.11.0" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~5.0.0" />
    <plugin name="cordova-plugin-media" source="npm" spec="~6.1.0" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="~3.0.0" />
    <!--<plugin
    name="cordova-plugin-splashscreen" source="npm" spec="~6.0.2" />-->
    <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.4.3" />
    <plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.3.5" />
    <plugin name="cordova-plugin-sms" source="npm" />
    <plugin name="cordova-sms-plugin" source="npm" />
    <plugin name="cordova-plugin-cleartext" source="npm" spec="~1.0.0" />
    <plugin name="cordova-plugin-ionic-webview" source="npm" spec="~5.0.0" />
    <plugin name="cordova-plugin-fullscreen" source="npm" spec="~1.3.0" />
    <plugin name="cordova-plugin-ble-central" source="npm" spec="~1.7.8" />
    
    <plugin name="cordova-plugin-android-permissions" source="npm" spec="~1.1.5" />
    
   

  <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest"
            xmlns:android="http://schemas.android.com/apk/res/android">
            <!-- Legacy permissions for Android 10 and below -->
            
            <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
                android:maxSdkVersion="30" />
            <!-- New Bluetooth permissions for Android 12+ -->
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
                android:usesPermissionFlags="neverForLocation" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
        </config-file>
    </platform>


    


    <plugin name="cronapp-cordova-plugin-barcodescanner" source="npm" spec="~3.2.0-SP.9" />

    <preference name="AndroidXEnabled" value="true" />

    <preference name="AndroidInsecureFileModeEnabled" value="true" /><!--to
    get image icon properly in android after cordova 12 update-->


    <!---
    <preference name="requestLegacyExternalStorage" value="true"/>-->

    <plugin name="cordova-plugin-enable-cleartext-traffic" source="npm" spec="~2.1.0" />

    <platform name="ios">
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="iosScheme" value="httpsionic" />
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    </platform>


    

  

    <platform name="ios">
        <icon src="res/icon/ios/icon-1024.png" width="1024" height="1024" />
        <icon src="res/icon/ios/icon-small.png" width="29" height="29" />
        <icon src="res/icon/ios/icon-small@2x.png" width="58" height="58" />
        <icon src="res/icon/ios/icon-small@3x.png" width="87" height="87" />
        <icon src="res/icon/ios/icon-40.png" width="40" height="40" />
        <icon src="res/icon/ios/icon-40@2x.png" width="80" height="80" />
        <icon src="res/icon/ios/icon-50.png" width="50" height="50" />
        <icon src="res/icon/ios/icon-50@2x.png" width="100" height="100" />
        <icon src="res/icon/ios/icon.png" width="57" height="57" />
        <icon src="res/icon/ios/icon@2x.png" width="114" height="114" />
        <icon src="res/icon/ios/icon-60.png" width="60" height="60" />
        <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120" />
        <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180" />
        <icon src="res/icon/ios/icon-72.png" width="72" height="72" />
        <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144" />
        <icon src="res/icon/ios/icon-76.png" width="76" height="76" />
        <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152" />
        <icon src="res/icon/ios/icon-167.png" width="167" height="167" />
        <icon src="res/icon/ios/icon-83.5@2x.png" width="167" height="167" />
        <!--  Storyboard portrait  -->
        <!--<splash
        src="res/screen/ios/Default@2x~iphone~anyany.png"/>
<splash src="res/screen/ios/Default@2x~iphone~comany.png"/>
<splash src="res/screen/ios/Default@3x~iphone~anyany.png"/>
<splash src="res/screen/ios/Default@3x~iphone~comany.png"/>
<splash src="res/screen/ios/Default@2x~ipad~anyany.png"/>
<splash src="res/screen/ios/Default@2x~ipad~comany.png"/>
-->
        <!--  Storyboard landscape  -->
        <!-- 
        <splash src="res/screen/ios/Default@2x~iphone~comcom.png"/>
        <splash src="res/screen/ios/Default@3x~iphone~anycom.png"/>
         -->
        <!--  Legacy portrait  -->
        <!-- 
        <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
         -->
        <!--  Legacy landscape  -->
        <!-- 
        <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
         -->
    </platform>
    <platform name="android">
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="SplashShowOnlyFirstTime" value="true" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />

        <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png" />


        <preference name="AndroidWindowSplashScreenBackground" value="#007fbf" />
        <preference name="AndroidWindowSplashScreenIconBackgroundColor" value="#007fbf" />

        <preference name="AndroidWindowSplashScreenAnimatedIcon"
            value="res/screen/android/splash-square.png" />


   

    </platform>


    <!--<preference
    name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-port-xxxhdpi.png"
    />-->


</widget>