<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pradeepl.uniqueerp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>UNIQUE ERP</name>
    <description>
        UNIQUE ERP
    </description>
    <author email="pradeepshantha@gmail.com" href="#">
       Pradeep Liyanage
    </author>
    <content src="index.html" />
    <platform name="android" />
    <platform name="ios" />
    <!--<preference name="maxSdkVersion" value="5" />-->
    <access origin="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <allow-navigation href="*" />
        <allow-navigation href="http://localhost:8080/*" />
        <allow-navigation href="httpsionic://*" />
        <allow-navigation href="http://124.43.160.52/*" />
        <allow-navigation href="http://cqrmjaela.usslk.com/*" />
        <allow-navigation href="https://cqrmjaela.usslk.com/*" />
    </platform>

    

      <preference name="android-targetSdkVersion" value="31" />
    



</widget>
